

<ng-container *ngIf="message; else elseTemplate">
  {{message}}
</ng-container>
<ng-template #elseTemplate>
  <div class="container p-3">
    <div class="row" *ngFor="let item of listCart.items">
      <div class="col border-bottom">
        <img src="http://localhost:4000/api/v1/producto/imagen/{{item._id}}" width="100" height="120" alt="Computer Hope">
  
      </div>
      <div class="col border-bottom">
        <div class="row row-cols-1" style="font-size: 10px;">
          <div class="col">{{item.categoria_nombre}}</div>
          <div class="col">{{item.producto_nombre}}</div>
          <div class="col">Precio: {{item.precio}}</div>
          <div class="col">Cantidad: {{item.cantidad}}</div>
          <div class="col">Total : {{item.total}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">Total Unidades : {{listCart.unidades}}</div>
      <div class="col">Total Precio : {{listCart.total}}</div>
    </div>
  </div>
  
  <div class="p-3 d-flex justify-content-end">
  
    <ng-container *ngIf="loginService.estaAutenticado() && listCart.items.length > 0  && !orden">
  
      <button type="button" (click)="generarOrden()" class="btn btn-primary">Generar Orden</button>
  
    </ng-container>
  
  </div>

</ng-template>

